name: Build and Push Docker image

on:
  push:
    branches:
      - "features/docker"
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Set image tags
        id: vars
        run: |
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            echo "tags=ghcr.io/${{ secrets.GHCR_USERNAME }}/tg-down:0.${GITHUB_RUN_NUMBER},ghcr.io/${{ secrets.GHCR_USERNAME }}/tg-down:latest" >> $GITHUB_OUTPUT
          else
            echo "tags=ghcr.io/${{ secrets.GHCR_USERNAME }}/tg-down:dev-${GITHUB_RUN_NUMBER}" >> $GITHUB_OUTPUT
          fi

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.vars.outputs.tags }}